<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Indusoft.Udl.Utils.RenameVersion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Indusoft.Udl.Utils.RenameVersion.Properties.Settings>
            <setting name="from" serializeAs="String">
                <value>"2.0.3"</value>
            </setting>
            <setting name="to" serializeAs="String">
                <value>"2.1.4"</value>
            </setting>
            <setting name="workdir" serializeAs="String">
                <value>C:\tfs\I-DS-UDL\Source\</value>
            </setting>
        </Indusoft.Udl.Utils.RenameVersion.Properties.Settings>
    </applicationSettings>
</configuration>